html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  @extend %gilroy-400;
  font-size: 16px;
  color: $text;

  @media (max-width: 948px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 22px;
  @extend %gilroy-700;
  color: $text;
  text-transform: uppercase;
  font-style: italic;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.underscore {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    // background-color: $top-menu;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.title-decor {
  background-image: url(../images/brands/title-decor.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 15px;
  margin-bottom: 20px;
}

// ! slider
.slider-box {
  max-width: 1044px;
  margin: 0 auto;
  border-left: 1px solid $border;
  height: 150px;

  @media (max-width: 1170px) {
    max-width: 906px;
  }

  @media (max-width: 1020px) {
    max-width: 631px;
  }

  @media (max-width: 760px) {
    max-width: 448px;
  }

  @media (max-width: 480px) {
    max-width: 400px;
  }
}

.slider {
  max-width: 1044px;
  padding: 0;
  margin: 0;
  border-top: 1px solid $border;

  &__item {
    flex: 1 0 150px;
    height: 150px;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    position: relative;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  bottom: -40px;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .slick-active {
    button {
      background-color: $accent;
      width: 30px;
      border-radius: 20px;
      transition: width 0.3s;
    }
  }

  button {
    border: none;
    background-color: $dots;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: transparent;
  }
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 25px;
  border: none;
  border-radius: 20px;
  background-color: $text;

  &:active,
  &:focus {
    outline: transparent;
  }
}

.slick-prev {
  padding-left: 16px;
  left: -55px;
}

.slick-next {
  padding-left: 18px;
  right: -55px;
}
